<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mi pagina | Admin</title>
</head>
<body>

	<div class="header">
		<h1>Panel de Control</h1>
		<h2>Administración de Productos ABC</h2>
	</div>

	<div class="menu">
		<ul>
			<li>
				<a href="./">Inicio</a>
			</li>
			<li>
				<a href="/productos">Productos</a>
			</li>
			<li>
				<a href="/categorias">Categorias</a>
			</li>
		</ul>		
	</div>

	<div class="cuerpo">
		<div class="usuarios">
			<table border="1">
				<thead>
					<th>ID</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Correo</th>
					<th>Usuario</th>
					<th>Fecha Alta</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Juan</td>
						<td>Mamani Algo</td>
						<td>juan@correo.com</td>
						<td>juan</td>
						<td>02-01-2019</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	<div class="footer">
		&copy; Derechos reservados		
	</div>
	
</body>
</html>